<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        verbose="true">
    <testsuites>
        <testsuite name="Maniple Testsuite">
            <directory suffix=".php">./tests/Maniple</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" logUpperBound="35" hightLowerBound="70" />
    </logging>
</phpunit>
